/about*html
/clojure/*
/com/*
/images/*
/javax/*
/jline/*
/META-INF/*
/net/*
/org/*
/**/.idea*/
/**/*iml
/**/*class
/**/target/
/target/
/project/target/
/project/project/target/
/.idea/
/.idea_modules/
*/docker/*.jar
